@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: whitesmoke;
    margin: 0 20px 0 20px;
}
a{
    text-decoration: none;
    font-size: 15px;
    color: #000;
}
nav{
    display: flex;
    justify-content: space-between;
    background-image: url(../images/mombasa/bgt.jpg);
    background-size: cover;
    background-position: center center;
    height: 20vh;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
}
.logo > img {
    max-width: 80px;
}
nav > .logo, .navLinks{
    margin: 16px;
}
nav > .navLinks > ul > li{
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    text-align: center;
    border: 2px solid #058D0A;
    margin-left: 50px;
}
nav > .navLinks > ul > li{
    color: #058D0A;
    text-decoration: none;
}
nav > .navLinks > ul > li > a{
  color: #058D0A;
  text-decoration: none;
}
nav > .navLinks > ul > li a:hover{
    color: black;
}
/* dropdown */
.dropbtn {
    color: #058D0A;
    font-size: 20px;
    border: none;
  }
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #058D0A;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
  }
  .dropdown-content a {
    color: black;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
    font-size: 15px;
  }
  .dropdown-content a:hover {background-color: whitesmoke;}
  .dropdown:hover .dropdown-content {display: block;}
  /* Sign up part */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    display: inline-block;
    border: none;
    background: #F1F1F1;
  }
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  /* Set a style for all buttons */
  button {
    background-color: #058D0A;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
    .cancelbtn {
    padding: 14px 20px;
    background-color: #363FF4;
  }
  /* Float cancel and signup buttons and add an equal width */
  .cancelbtn, .signupbtn {
    float: left;
    width: 50%;
  }
  .container {
    border-radius: 10px;
    color: black;
  }
  /* Modal styling*/
  .form{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: whitesmoke;
    padding-top: 50px;
  }
  /* Content/Box */
  .form-content {
    background-color: #FEFEFE;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
  }
  /* Style the horizontal ruler */
  hr {
    border: 1px solid #F1F1F1;
    margin-bottom: 5px;
  }
  /* Close */
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #F1F1F1;
  }
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
/*start of header styling*/
#sectHeader{
    background-image: url(../images/mombasa/msa.jpg);
    background-size: cover;
    background-position: center center;
    height: 60vh;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px 0 20px;

}
#sectHeader > .header{
    text-align: center;
    color: black;
}
#sectHeader > .header > h3{
    font-size: 100px;
}
#sectHeader > .header > p{
    color: #fff;
    font-weight: 900;
    font-size: 18px;
    padding-top: 20px;
}

/*top deals styling*/
#top_deals h2{
    margin-left: 20px;
    margin-top: 50px;
}
#top_deals .deals{
    display: flex;
    flex-wrap: wrap;
}
#top_deals .deals div{
    padding: 20px;
    border-radius: 10px;
}
#top_deals .deals img{
   width: 380px;
}
#top_deals .deals h3{
    margin-top: 10px;
    margin-bottom: 10px;
}
#top_deals .deals .rate{
    font-style: italic;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 5px;
}
#top_deals span{
    font-weight: bolder;
}
#top_deals .deals a{
    color: #000;
    margin-bottom: 5px;
}
#top_deals .deals a:hover{
    color: #00ff00;
}
#top_deals .deals button{
    background-color: #058D0A;
    display: block;
    text-align: center;
    margin:10px;
    border-radius: 10px;
    height: 30px;
    width: 100px;
}

/*transport means styling*/
#transport h2{
    margin-left: 20px;
}
#transport .locomotives{
    display: flex;
    justify-content: center;
    align-items: center;
}
#transport .locomotives div{
    padding: 18px;
    margin: 15px 26px 15px 26px;
}
#transport .locomotives img{
    width: 350px;
}
#transport .locomotives p{
    margin-top: 10px;
    font-size: 18px;
}
/*footer styling*/

.container{
    max-width: 1170px;
    margin:auto;
    font-size: 15px;
    }
    .row{
    display: flex;
    flex-wrap: wrap;
    }
    .footer-col > img{
      width: 120px;
      padding-top: 40px;
    }
    a {
      text-decoration: none;
      color: whitesmoke;
    }
    .bottom{
    background-color: black;
      padding: 30px 0;
    }
    .footer-col{
     width: 20%;
     padding: 0 15px;
    }
    .footer-col > .list-header{
    font-size: 18px;
    color: whitesmoke;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    }
    .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    margin:0 10px 10px 0;
    color: whitesmoke;
    }
    /*responsive*/
    @media(max-width: 480px){
    .footer-col{
      width: 50%;
    }
    }
    @media(max-width: 480px){
    .footer-col{
      width: 100%;
    }
    }